{% extends "home.html" %}

{% block head %}<link rel="stylesheet" href="/CSS/cart.css">{% endblock %}
{% block title %}Корзина{% endblock %}

{% block link %}
<li><a class="header-link" href="/">Главная</a></li>
<li><a class="header-link" href="/products">Товары</a></li>
{% endblock %}

{% block content %}
<div class="main-section">
    <div class="cart">
        {% for product in cart.products_details %}
        <div class="cart-products">
            <div class="cross">&#10006</div>
            <div class="cart-product">
                <div class="cart-item-img">
                    <a href="/product/{{product.product.shortname}}"><img class="img-of-product" src="/static/{{product.product.shortname}}.png" alt="Product image"></a>
                </div>
                <div class="cart-item-info">
                    <p class="hide">{{product.product.id}}</p>
                    <h3><a href="/product/{{product.product.shortname}}">{{product.product.name}}</a></h3>
                    <p>Количество: {{product.quantity}}</p>
                    <p>Цена: {{product.product.price*product.quantity}} <b>₽</b></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
    <div class="cart-total">
        <div>Общая цена: <label id="summ">{{sum}} <b>₽</b><label></div>
        <div>
            <form id="create-order">
                <button type="submit" class="button-order">Оформить заказ</button>
            </form>
        </div>
    </div>
        <p id="add-error" class="hide">Добавьте товары в заказ</p>
    </div>
</div>
{% endblock %}


{% block footer %}
<script src="/js/cart.js"></script>
{% endblock %}