{% if access_token != '' %}
    {% extends "home.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block head %}<link rel="stylesheet" href="/CSS/profile.css">{% endblock %}

{% block title %}
{% set xxx = request.url | string() %}
Профиль {{user.username}}
{% endblock %}

{% block link %}
<li><a class="header-link" href="/">Главная</a></li>
<li><a class="header-link" href="/products">Товары</a></li>
<li><a class="header-link" href="/cart">Корзина</a></li>
{% endblock %}


{% block content %}
<div class="main-section">
<div class="profile-head">
    <div class="btn-n-header">
        <h1 class="profile-head-text">Профиль пользователя <b>{{user.username}}</b></h1>
        <button class="edit-profile">Изменить данные профиля</button>
    </div>
</div>
<div class="profile-body">
    <ul class="body-of-profile">
        {% if user.role == 'regular' %}
            <li class="role"><b>Роль:</b> Обычный пользователь</li>
        {% elif user.role == 'regular+' %}
            <li class="role"><b>Роль:</b> Пользователь+ <br><b>КРУТЫЕ СОБАКИ ПРЯМО В ПРОФИЛЕ!!!</b></li>
        {% elif user.role == 'regular++' %}
            <li class="role"><b>Роль:</b> Пользователь++ <br><b>Скидка на все товары 10%!!!</b></li>
        {% endif %}
        <li class="first_name"><b>Имя:</b> {{profile.first_name}}</li>
        <li class="last_name"><b>Фамилия:</b> {{profile.last_name}}</li>
        <li class="bio"><b>Биография:</b> {{profile.bio}}</li>
    </ul>
</div>
{% if user.role == 'regular+' %}
    <div class="dog-div">
        <h2 class="123">Случайная фотография собачки</h2>
        <div class="dog">
            <img class="dog-img" src="{{dog}}">
        </div>
    </div>
{% endif %}
</div>
{% endblock %}


{% block footer %}
<script>
    document.querySelector('.edit-profile').addEventListener('click', function() {
        window.location.href = 'http://localhost:8000/edit_profile/{{access_token['sub']}}';
    });
</script>
{% endblock %}