.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.main{
    display: flex;
    gap: 5vw;
}

.user {
    display: flex;
    gap: 0px;
}
a.header-link, a.footer-link {
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.39px;
    text-transform: uppercase;
}

a.panel, a.station, a.info, a.contact {
    color:#616161bd;
}

.logo {
    position: relative;
    top: -5px;
}

.footer-menu {
    display: flex;
    gap:30px;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.panels, .stations, .infos, .contants {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

p.developer-text {
    color:#D8D8D8;
    opacity: 0.4;
    letter-spacing: 0.24px;
}

.developer {
    margin: 0 15vw;
    border-bottom: 1px solid;
    border-color:rgb(59, 59, 58);
    padding-bottom: 15px;
    padding-top: 50px;
}

.super-footer {
    display: flex;
    justify-content: space-between;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

.super {
    opacity: 0.3;
}

p.footer-link {
    color: white;
    opacity: 0.5;
}

.button {
    text-align: center;
}

.button a, .main a {
    /* background-color: rgba(25, 25, 27, 0.5); */
    padding: 20px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500px;
}

.pop_up {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.pop_up.active {
    display: block;
}

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    margin: auto;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;
}

.pop_up_body p{
    font-size: 28px;
    font-weight: 600;
    color: #22262D;
    margin-bottom: 40px;
}

.pop_up_body input, textarea {
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #1a1a1a;
}

.pop_up_body input::placeholder{
    color: black;
}

.pop_up_body input:focus {
    outline: none;
}

.pop_up_body button {
    cursor: pointer;
    display: block;
    width: 330px;
    margin: 30px auto 0px auto;
    padding: 20px 0px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: rgba(25, 25, 27, 0.9);
}

.pop_up_close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}

.error {
    text-align: center;
    margin-top: 16px;
    color: #db3939;
}

.error.hide {
    display: none;
}

textarea {
width: 400px;
height: 150px;
resize: none
}