.profile-head {
    border-bottom: 1px solid #515151;
}

.body-of-profile {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    margin-top: 25px;
    flex-wrap: wrap;
    width: 100%;
}
.bio {
    word-wrap: break-word;
}

.btn-n-header {
    position: relative;
}

main {
    min-height: 50vh;
}
.edit-profile {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #3498db;
    border: none;
    cursor: pointer;
}

main.dark-mode .edit-profile {
    background-color: #434343;
    color: #adadad;
}

.main-section {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 50px;
}

.dog-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    padding-bottom: 50px;
}

.dog-img {
    width: 300px;
    height: auto;
}